* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vb;
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  height: 100vb;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

.menu-home {
  width: 100%;
  height: auto;
  background-color: rgb(0, 0, 0);
  display: flex;
}

.logo {
  width: 15%;
  height: 70px;
  background-color: rgb(0, 0, 0);
}

.logo p {
  font-size: 25px;
  color: rgb(255, 255, 255);
  margin-top: 20px;
  text-align: center;
}

.menu-bar {
  width: 80%;
  height: 70px;
  background-color: rgb(0, 0, 0);
}
.menu-bar ul {
  display: flex;
  padding: 15px;
  list-style-type: none;
  justify-content: center;
  gap: 8%;
  margin-left: 55%;
}
.menu-bar ul li {
  font-size: 25px;
  color: white;
}
.menu-bar ul li a:hover {
  color: dodgerblue;
  background-image: linear-gradient(skyblue, purple);
}
.content {
  width: 90%;
  padding: 20px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
}
.Road {
  font-size: 50px;
  font-weight: bold;
  width: 20%;
}
.view {
  width: 80%;
  text-align: end;
}
.box-1 {
  padding-top: 30px;
  padding-bottom: 30px;
  height: auto;
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-align: left;
}

.container-2 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
}
.iteam {
  width: 300px;
  height: 350px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.377);
  border-radius: 30px;
}
.product-image {
  width: 300px;
  height: 350;
}
.product-image img {
  width: 100%;
  object-fit: cover;
  transition: 0.4s;
}
.product-image img {
  width: 100%;
}
.product-image img:hover {
  transform: scale(1.1);
}
.product {
  width: 100%;
  height: auto;
  display: flex;
  
  line-height: 1.5;
  padding: 20px;
}
.info-1 {
  font-size: 17px;
  color: black;
  text-align: left;
  padding-top: 20px;
}
.info-2 {
  font-size: 18px;
  color: black;
  text-align: right;
  padding-top: 45px;
  
}


    

  
  

