* {
  padding: 0;
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.container {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: black;
  margin: auto;
}
.img-box {
  background-image: url(Rectangle\2\(1\).svg);
  background-position: center;
  height: 1000px;
  width: 100%;
  object-fit: cover;

  background-size: cover;
}
.txt {
  width: 40%;
  height: 60%;
  margin-left: 100px;
  color: white;
  align-items: center;
  display: flex;
  font-size: 25px;
}
.img-box button {
  width: 250px;
  height: 55px;
  background-color: white;
  border-radius: 50px;
  font-size: 20px;
}
.txt2 {
  width: 100%;
  height: 100px;
  background-color: black;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.txt2 p {
  color: white;
  font-size: 20px;
}
.txt3 {
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: center;
}
.txt3 p {
  color: white;
  font-size: 20px;
}
